# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\trafficSample\Sexy-Time-Markov-Model\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
